@model IEnumerable<GestionPfeApp.Models.Professeur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfesseurID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfesseurID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfesseurID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
